html, body {
    /* The universe takes up all available space */
    width: 3000px;
    height: 3000px;
    /* The universe is black */
    background-color: black;
}
#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;

    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border-color: orange;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 148px 18px red;
}
#mercury {
     position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 1px;
    margin-left: -25px;
    margin-top: -25px;
    border-color: firebrick;
    border-radius: 50%;
    border-style: solid;
    border-width: 18px;
    box-shadow: 0 0 40px 5px ;
}
#mercury-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 560px;
    height: 560px;
    margin-top: -280px;
    margin-left: -280px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    border-radius: 50%;
    -webkit-animation: spin-right 9s linear infinite;
     -moz-animation: spin-right 9s linear infinite;
      -ms-animation: spin-right 9s linear infinite;
       -o-animation: spin-right 9s linear infinite;
          animation: spin-right 9s linear infinite;
}
#venus {
     position: absolute;
    top: 0;
    left: 50%;
    height: 30px;
    width: 30px;
    margin-left: -25px;
    margin-top: -25px;
    border-color: blue;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    box-shadow: 0 0 40px 5px blue;
}
#venus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 760px;
    height: 760px;
    margin-top: -380px;
    margin-left: -380px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    border-radius: 50%;
    -webkit-animation: spin-right 13s linear infinite;
     -moz-animation: spin-right 13s linear infinite;
      -ms-animation: spin-right 13s linear infinite;
       -o-animation: spin-right 13s linear infinite;
          animation: spin-right 13s linear infinite;
}
#mars {
    position: absolute;
    top: 0%;
    left: 40%;
    height: 1px;
    width: 1px;
    margin-left: -30px;
    margin-top: -30px;
    border-color: maroon;
    border-radius: 50%;
    border-style: solid;
    border-width: 28px;
}
#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1050px;
    height: 1050px;
    margin-top: -525px;
    margin-left: -525px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    border-radius: 50%;
  -webkit-animation: spin-right 15s linear infinite;
     -moz-animation: spin-right 15s linear infinite;
      -ms-animation: spin-right 15s linear infinite;
       -o-animation: spin-right 15s linear infinite;
          animation: spin-right 15s linear infinite;

}
#earth {
     position: absolute;
    top: 0;
    left: 50%;
    height: 2px;
    width: 2px;
    margin-left: -25px;
    margin-top: -25px;
    border-color: aqua;
    border-radius: 50%;
    border-style: solid;
    border-width: 20px;
    box-shadow: 0 0 20px 8px aqua;
}
#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 900px;
    margin-top: -450px;
    margin-left: -450px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    border-radius: 50%;
    -webkit-animation: spin-right 14s linear infinite;
     -moz-animation: spin-right 14s linear infinite;
      -ms-animation: spin-right 14s linear infinite;
       -o-animation: spin-right 14s linear infinite;
          animation: spin-right 14s linear infinite;
}
#jupiter {
    position: absolute;
    top: 0%;
    left: 40%;
    height: 1px;
    width: 1px;
    margin-left: -30px;
    margin-top: -30px;
    border-color: sienna;
    border-radius: 50%;
    border-style: solid;
    border-width: 38px;
    box-shadow: 0 0 20px 16px saddlebrown;
}
#jupiter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1300px;
    height: 1300px;
    margin-top: -650px;
    margin-left: -650px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    border-radius: 50%;
  -webkit-animation: spin-right 25s linear infinite;
     -moz-animation: spin-right 25s linear infinite;
      -ms-animation: spin-right 25s linear infinite;
       -o-animation: spin-right 25s linear infinite;
          animation: spin-right 25s linear infinite;

}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
